* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #2f3e46;
  font-family: "Montagu Slab", sans-serif;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;
}


h1 {
  font-size: 2.5rem;
  color: #F7EDDB;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .6);
  padding-top: 2rem;
}

p {
  font-size: 5rem;
  font-weight: 500;
}

.board {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.row {
  display: flex;

}

.box {
  width: 8rem;
  height: 8rem;
  border: 1px solid black;
  margin: -2px;
  background-color: #415a77;
}

.black {
  background-image: url(../assets/marble.jpg);
}

.color-white {
  color: white;
}

/* MEDIA QUERIES */

@media (max-width: 48.75em) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 50.375em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 42.5em) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 34.75em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 30.625em) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 26.5625em) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 22.1875em) {
  html {
    font-size: 25%;
  }
}